<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.html') %>

    <h1 class="m-5 text-center">채팅서비스</h1>



    
     








    
   









    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <ul class="list-group" style="height : 300px; overflow-y: scroll;">
      <li class="list-group-item">어쩌구</li>
      <li class="list-group-item">저쩌구</li>
      <li class="list-group-item">채팅메세지들</li>
    </ul> 





    <div class="input-group mb-3 container">
      <input type="text" class="form-control" id="main-input">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">전송</button>
      </div>
  </div>





  <script>
    var socket = io('/채팅방1');
    

    $('#button-addon2').click(function(){
      socket.emit('인삿말', $('#main-input').val() );
    });

    socket.on('퍼트리기',function(data){
      $('.list-group').append('<li class="list-group-item">'+ data +'</li>')
      $('.list-group').scrollTop($('.list-group').prop('scrollHeight'));
    });
    
  </script>

  </body>
</html>